{% extends "base.html" %}

{% block content %}

{% block buttons %}
{% endblock %}
<script>
  document.getElementById('id_first_name');
</script>
<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        {% block title %}
         Author Form
         {% endblock %}
      </h3>
      <div class="mb-3">
        <form action="" method="post">
          {% csrf_token %}

          <p>{{ form.as_p }}</p>
          <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-auto">
              <input type="submit" value="Salvar" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
