{% extends "base.html" %}

{% block title %}
    Author {{ author.last_name}}, {{ author.first_name }}
{% endblock %}
{% block content %}
    <h1>Author: {{ author.last_name}}, {{ author.first_name}} </h1>
    <p>{% if author.date_of_birth %}{{ author.date_of_birth}}{% endif %} - {% if author.date_of_death %} {{ author.date_of_death}}{% endif %}</p>

    {% if author.book_set.all %}
        <p><strong>Books</strong></p>
        {% for book in author.book_set.all %}
            <h5><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.id }})</h5>
            <p>{{ book.summary }}</p>
        {% endfor %}
    {% else%}
        <p>There is no book of this author registered</p>
    {% endif %}
{% endblock %}