{% extends "base.html" %}

{% block title %}
    Author List
{% endblock %}

{% block buttons %}
<div class="col-auto ms-auto d-print-none">
    <div class="btn-list">
      <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
        Create Author
      </a>
    </div>
</div>
{% endblock %}

{% block content %}
    <h1>Author List</h1>
    {% if author_list %}
        <ul>
            {% for author in author_list %}
                <li>
                    <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                    ({% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There is no author registered</p>
    {% endif %}
{% endblock %}