{% extends "base.html" %}

{% block title %}
    Books List
{% endblock %}

{% block content %}
    {% if book_list %}
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-cards">
                        <div class="row row-cards row-deck">
                            {% for book in book_list %}

                            
                                
                                <div class="col-md-4">
                                    <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                                    </div>
                                    <div class="card-footer">
                                        {{book.author}}
                                    </div>
                                    </div>
                                </div>

                            {% comment %} <div class="col-md-6 col-lg-3">
                                <div class="card">
                                <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(./static/photos/home-office-desk-with-macbook-iphone-calendar-watch-and-organizer.jpg)"></div>
                                <div class="card-body">
                                    <h3 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                                    <p class="text-muted">({{book.author}})</p>
                                </div> {% endcomment %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
        <div class="col-lg-4">
            <div class="card">
            <div class="empty">
                <div class="empty-img"><img src="" height="128" alt="">
                </div>
                <p class="empty-title">No results found</p>
                <p class="empty-subtitle text-muted">
                Try register a book.
                </p>
                <div class="empty-action">
                    <div class="btn-list">
                        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Create new Author
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
{% endblock %}